*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Circular Std', sans-serif;
}

:root{
    --s-light: #ffffff;
    --s-upgrade: #080b12;
    --s-content: #141922;
    --s-greenbar: #adff2f;
    --s-sidebar: #000000;
    --s-footer: #282828;
    --s-greytext: #797b80;
}

img{
    max-width: 100%;
}
h2{
    margin: 1rem 1rem;
    color: var(--s-light);
}

h4{
    color: var(--s-light);
}
h5{
    color: var(--s-greytext)
}
/* #region debug */

.debug .top{
    background-color: paleturquoise;
    
}

.debug footer{
    background-color: var(--s-footer);
}

.debug .sidebar{
    background-color: var(--s-sidebar);
}

.debug .content {
    background-color: var(--s-content);
}

.debug .card{
    margin: 1rem;
    text-align: center;
    flex-direction: column;
}

.pop_artists img{
    border-radius: 50%;
}


/* #endregion debug */

/* #region Utilities */

.d-flex{
    display: flex;
}

.direction-column {
    flex-direction: column;
}

ul {
    list-style-type: none;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
    padding: 0.25rem;
}

.wrap{
    flex-wrap: wrap;
}

.mt-1{
    margin-top: 0.5rem;
}

/* #endregion utilities */
nav a{
    text-decoration: none;
    color: grey;
    
}
/* #region layout */
.top{
    height: calc(100vh - 70px);
    display: flex;
}

.top > .sidebar {
    width: 70px;
    overflow-y: hidden;
}

.top .sidebar_top{
    height: calc(100% - 60px);
}
.top .sidebar_bottom {
    height: 60px;
}

.top > .content{
    width: calc(100% - 60px);
    overflow-y: auto;
}

footer.bottom{
    height: 70px;
}

/* #endregion layout */

/* #region columns */

.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_5 {
    width: calc((100% / 12) * 5);
}

.col_6 {
    width: 50%;
}

.col_7 {
    width: calc((100% / 12) * 7);
}

.col_8 {
    width: calc((100% / 12) * 8);
}

.col_9 {
    width: calc((100% / 12) * 9);
}

.col_10 {
    width: calc((100% / 12) * 10);
}

.col_11 {
    width: calc((100% / 12) * 11);
}

.col_12{
    width: 100%;
}

/* #endregion columns */

/* #region content */

.upgrade{
    height: 4rem;
    text-align: end;
    align-content: center;
    background-color: var(--s-upgrade);
}

.upgrade button{
    padding: 0.25rem 1rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1rem;
    color: white;
    margin: 1.2rem;
    
}

.create_for h5, .pop_artists h5{
    margin: 1rem;
}
/* #endregion content */


/* region responsive */
@media screen and (min-width:639px) {
    
    .top > .sidebar {
        width: 200px;
        overflow-y: hidden;
    }    
    
}
@media screen and (min-width:878px) {



    /* #region columns */

    .col_md_1 {
        width: calc((100% / 12) * 1);
    }
    
    .col_md_2 {
        width: calc((100% / 12) * 2);
    }
    
    .col_md_3 {
        width: calc((100% / 12) * 3);
    }
    
    .col_md_4 {
        width: calc((100% / 12) * 4);
    }
    
    .col_md_5 {
        width: calc((100% / 12) * 5);
    }
    
    .col_md_6 {
        width: 50%;
    }
    
    .col_md_7 {
        width: calc((100% / 12) * 7);
    }
    
    .col_md_8 {
        width: calc((100% / 12) * 8);
    }
    
    .col_md_9 {
        width: calc((100% / 12) * 9);
    }
    
    .col_md_10 {
        width: calc((100% / 12) * 10);
    }
    
    .col_md_11 {
        width: calc((100% / 12) * 11);
    }
    
    .col_md_12{
        width: 100%;
    }
    /* #endregion columns */
}


@media screen and (min-width:1440px) {

    .top > .sidebar {
        width: 230px;
        overflow-y: hidden;
    } 

    /* #region columns */
    .col_lg_1 {
        width: calc((100% / 12) * 1);
    }

   .col_lg_2 {
        width: calc((100% / 12) * 2);
    }

    .col_lg_3 {
        width: calc((100% / 12) * 3);
    }

    .col_lg_4 {
        width: calc((100% / 12) * 4);
    }

    .col_lg_5 {
        width: calc((100% / 12) * 5);
    }

    .col_lg_6 {
        width: 50%;
    }

    .col_lg_7 {
        width: calc((100% / 12) * 7);
    }

    .col_lg_8 {
        width: calc((100% / 12) * 8);
    }

    .col_lg_9 {
        width: calc((100% / 12) * 9);
    }

    .col_lg_10 {
        width: calc((100% / 12) * 10);
    }

    .col_lg_11 {
        width: calc((100% / 12) * 11);
    }

    .col_lg_12{
        width: 100%;
    }
    /* #endregion columns */
}


/* region effects */

button{
    transition: scale 0.1s;
}

button:hover{
    scale: 1.1;
}

a:active{
    border-bottom: 2px solid var(--s-greenbar);
}

a:hover{
    color: var(--s-light);
}