*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Circular Std', sans-serif;
}

:root{
    --s-light: #ffffff;
    --s-upgrade: #080b12;
    --s-content: #141922;
    --s-greenbar: #adff2f;
    --s-sidebar: #000000;
    --s-footer: #282828;
    --s-greytext: #797b80;
    --s-add_playlistbg: #a3a3a3;
}

img{
    max-width: 100%;
}
h2{
    margin: 1rem 1rem;
    color: var(--s-light);
}

h4{
    color: var(--s-light);
}
h5{
    color: var(--s-greytext)
}

.playlists h6{
    color: var(--s-light);
    margin: 0.5rem 0;
}
/* #region debug */

footer{
    background-color: var(--s-footer);
}

.sidebar{
    background-color: var(--s-sidebar);
}

.content {
    background-color: var(--s-content);
}

.card{
    margin: 1rem;
    text-align: center;
    flex-direction: column;
}

.pop_artists img{
    border-radius: 50%;
}


/* #endregion debug */

/* #region Utilities */

.d-flex{
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.ali_ite_center{
    align-items: center;
}
ul {
    list-style-type: none;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
    padding: 0.25rem;
}

.wrap{
    flex-wrap: wrap;
}

.mt-1{
    margin-top: 0.5rem;
}

.relative{
    position: relative;
}
/* #endregion utilities */
nav a{
    text-decoration: none;
    color: grey;
    
}
/* #region layout */
.top{
    height: calc(100vh - 70px);
    display: flex;
}

.top > .sidebar {
    width: 70px;
    overflow-y: hidden;
}

.top .sidebar_top{
    height: calc(100% - 60px);
}
.top .sidebar_bottom {
    height: 60px;
}

.top > .content{
    width: calc(100% - 60px);
    overflow-y: auto;
}

footer.bottom{
    height: 70px;
}

/* #endregion layout */

/* #region columns */

.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_5 {
    width: calc((100% / 12) * 5);
}

.col_6 {
    width: 50%;
}

.col_7 {
    width: calc((100% / 12) * 7);
}

.col_8 {
    width: calc((100% / 12) * 8);
}

.col_9 {
    width: calc((100% / 12) * 9);
}

.col_10 {
    width: calc((100% / 12) * 10);
}

.col_11 {
    width: calc((100% / 12) * 11);
}

.col_12{
    width: 100%;
}

/* #endregion columns */

/* sidebar */

.logo, .settings{
    padding: 0 20px;
}

.sidebar ul{
    margin: 0;
}
.complete_logo{
    display: none;
    width: 84%;
    padding: 1rem 0;
}
.settings span{
    display: none;
    font-size: 0.6rem;
}
.settings a{
    color: grey;
    text-decoration: none;
}
.playlists{
    display: none;
    padding: 0 20px;
}
.playlists span{
    font-size: 0.8rem;
}
.playlists a{
    font-size: 0.6rem;
    text-decoration: none;
    color: grey;
    line-height: 1.5rem;
}
.playlists ul{
    padding: 0;
    overflow-y: auto;
    height: 15rem;
}
.add{
    text-align: center;
    width: 1.5rem;
    aspect-ratio: 1/1;
    margin-right: 0.25rem;
    background-color: var(--s-add_playlistbg);
}
.add i{
    color: black;
}

.install_symbol{
    height: 50%;
    font-size: 0.6rem;
    color: grey;
}

.user{
    height: 50%;
    font-size: 0.8rem;
    color: white;
}
.sidebar i{
    color: var(--s-greytext);
}
.sidebar_bottom{
    padding: 0 20px;    
}

.sidebar_bottom svg{
    max-width: 10%;
}
.sidebar_bottom span{
    display: none;    
}
hr{
    width: 133px;
    margin: 0.25rem auto;
    display: none;
}
/* #region content */

.upgrade{
    height: 4rem;
    text-align: end;
    align-content: center;
    background-color: var(--s-upgrade);
}

.upgrade button{
    padding: 0.25rem 1rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1rem;
    color: white;
    margin: 1.2rem;    
}

.create_for h5, .pop_artists h5{
    margin: 1rem;
}

.album_play{
    top: 42%;
    left: 39%;
    position: absolute;
    background-color: transparent;
    display: none;
    color: var(--s-light);
}
/* #endregion content */

/* #region footer */

.bottom {
    justify-content: space-between;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
}

.bottom .play {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 0.5rem;
}

.song_name{
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}
.ft_left{
    align-items: center;
}

.bottom img {
    max-width: 100%;
}

.img_song{
    width: 28px;
}
.bottom h5{
    color: var(--s-light);
}

.bottom h6{
    color: var(--s-greytext);
}

.simbols i{
    color: var(--s-greytext);
    padding: 0.1rem 0.25rem;
}

.ft_middle i{
    padding: 0 0.5rem;
    color: var(--s-light);
    margin: auto;
}

.fa-circle-play{
    padding: 0 0.5rem;
}

.music_buttons{
    display: flex;
}
.ft_middle .bar{
    position: relative;
    width: 150px;
    margin: auto 0;
}

.circle_pointer{
    width: 7px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--s-light);
    position: absolute;
    left: 50%;
    z-index: 6;
    bottom: -5px;
    display: none;
}
.ft_right .bar{
    position: relative;
    width: 85px;
}
.ft_right li:last-child{
    margin: auto;
}
.ft_middle .grey_bar{
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: var(--s-greytext);
    border-radius: 1rem;
    margin: auto;    
    z-index: 1;
}

.ft_middle .white_bar{
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: var(--s-light);
    border-radius: 1rem;
    margin: auto;   
    z-index: 2;
}

.volume_greybar{
    position: absolute;
    width: 85px;
    height: 3px;
    background-color: var(--s-greytext);
    border-radius: 1rem;
    margin: auto;
}
.volume_whitebar{
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: var(--s-light);
    border-radius: 1rem;
    margin: auto;
}

.start{
    color: var(--s-light);
    margin-right: 1rem;
    font-size: 0.75rem;
}

.end{
    color: var(--s-light);
    margin-left: 1rem;
    font-size: 0.75rem;
}

.ft_right ul{
    padding: 0;
    gap: 0.5rem;
    margin: 0;
}

.ft_right .fa-solid{
    color: var(--s-light);
}
/* #endregion footer */

/* region responsive */
@media screen and (min-width:639px) {
    
    .top > .sidebar {
        width: 200px;
        overflow-y: hidden;
    }    

    .only_logo{
        display: none;
    }

    .complete_logo{
        display: block;
    }

    .settings span{
        display: block;
    }
    .settings svg{
        max-width: 20%;
    }
    .playlists{
        display: block;
    }

    .sidebar_bottom span, .sidebar_bottom hr{
        display: block;
    }

    .img_song{
        width: 42px;
    }

    .ft_middle .bar{
        position: relative;
        width: 155px;
        margin: auto 0;
    }
    .ft_middle .grey_bar{
        position: absolute;
        width: 155px;
        height: 3px;
        background-color: var(--s-greytext);
        border-radius: 1rem;
        margin: auto;    
        z-index: 1;
    }
}
@media screen and (min-width:878px) {

    .simbols{
        flex-direction: row;
    }

    .ft_middle .bar{
        position: relative;
        width: 250px;
        margin: auto 0;
    }
    .ft_middle .grey_bar{
        position: absolute;
        width: 250px;
        height: 3px;
        background-color: var(--s-greytext);
        border-radius: 1rem;
        margin: auto;    
        z-index: 1;
    }

    /* #region columns */

    .col_md_1 {
        width: calc((100% / 12) * 1);
    }
    
    .col_md_2 {
        width: calc((100% / 12) * 2);
    }
    
    .col_md_3 {
        width: calc((100% / 12) * 3);
    }
    
    .col_md_4 {
        width: calc((100% / 12) * 4);
    }
    
    .col_md_5 {
        width: calc((100% / 12) * 5);
    }
    
    .col_md_6 {
        width: 50%;
    }
    
    .col_md_7 {
        width: calc((100% / 12) * 7);
    }
    
    .col_md_8 {
        width: calc((100% / 12) * 8);
    }
    
    .col_md_9 {
        width: calc((100% / 12) * 9);
    }
    
    .col_md_10 {
        width: calc((100% / 12) * 10);
    }
    
    .col_md_11 {
        width: calc((100% / 12) * 11);
    }
    
    .col_md_12{
        width: 100%;
    }
    /* #endregion columns */
}


@media screen and (min-width:1440px) {

    .top > .sidebar {
        width: 230px;
        overflow-y: hidden;
    } 
    .ft_middle .bar{
        position: relative;
        width: 430px;
        margin: auto 0;
    }
    .ft_middle .grey_bar{
        position: absolute;
        width: 430px;
        height: 3px;
        background-color: var(--s-greytext);
        border-radius: 1rem;
        margin: auto;    
        z-index: 1;
    }

    /* #region columns */
    .col_lg_1 {
        width: calc((100% / 12) * 1);
    }

   .col_lg_2 {
        width: calc((100% / 12) * 2);
    }

    .col_lg_3 {
        width: calc((100% / 12) * 3);
    }

    .col_lg_4 {
        width: calc((100% / 12) * 4);
    }

    .col_lg_5 {
        width: calc((100% / 12) * 5);
    }

    .col_lg_6 {
        width: 50%;
    }

    .col_lg_7 {
        width: calc((100% / 12) * 7);
    }

    .col_lg_8 {
        width: calc((100% / 12) * 8);
    }

    .col_lg_9 {
        width: calc((100% / 12) * 9);
    }

    .col_lg_10 {
        width: calc((100% / 12) * 10);
    }

    .col_lg_11 {
        width: calc((100% / 12) * 11);
    }

    .col_lg_12{
        width: 100%;
    }
    /* #endregion columns */
}


/* region effects */

button{
    transition: scale 0.1s;
}

button:hover{
    scale: 1.1;
}

a:active{
    border-bottom: 2px solid var(--s-greenbar);
}

a:hover{
    color: var(--s-light);
}

.white_bar:hover{
    background-color: var(--s-greenbar);
}

.white_bar:hover + .circle_pointer{
    display: block;
}

.volume_whitebar:hover{
    background-color: var(--s-greenbar);
}

.volume_whitebar:hover + .circle_pointer{
    display: block;
}

.playlist_cover:hover{
    filter: brightness(0.5);
}

.playlist_cover:hover + .album_play{
    display: block;
}

.fa-heart:hover{
    color: var(--s-light);
}

.fa-folder:hover{
    color: var(--s-light);
}